/* 
	datos personales 
 
	Ricardo Marqués Garay
	UO270160

*/
    
/* Especifidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    width: 5vw;
    height: 2vh;
}
  
/* Especifidad: 001 */
p{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid gray;
    /* Se hereda el color de letra de estilos.css*/
    background-color: white;
    width: 4em;
    height: 4em;
    font-weight: bold;
}

/* Especifidad: 011 */
p[data-column='0'],
p[data-column='3'],
p[data-column='6'] {
    border-left: 0.2rem solid black;
}

/* Especifidad: 011 */
p[data-column='8'] {
    border-right: 0.2rem solid black;
}

/* Especifidad: 011 */
p[data-row='8'] {
    border-bottom: 0.2rem solid black;
}

/* Especifidad: 011 */
p[data-row='0'],
p[data-row='3'],
p[data-row='6'] {
    border-top: 0.2rem solid black;
}

